@import url('https://fonts.googleapis.com/css2?family=Fanwood+Text:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');

:root {
  --font-heading: 'Fanwood Text', serif;
  --font-body: 'Hind Siliguri', sans-serif;
  --main-green: #577F46;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-body);
}